
.darkBg{background:#2d0f0f url(../images/smashing.jpg) top center;background-repeat:no-repeat; background-size: cover;}


.test-container{position:absolute; top:200px; width:200px; height:200px;border:0px; display: none;}